<div class="col-sm-12 col-md-12" ng-controller="LoginCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            Welcome
        </div>
        <form role="form" name="loginform" id="loginform" novalidate class="form-horizontal">
            <div class="panel-body">
                <div class="row form-group">
                    <label for="username"
                           class="control-label col-sm-offset-2 col-sm-2 text-left">用&nbsp;&nbsp;户:</label>

                    <div class="input-group col-sm-4"
                         ng-class="{'has-error':regform.username.$dirty&&regform.username.$invalid}">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <input type="text" id="username" class="form-control" name="username" ng-model="user.username"
                               placeholder="中文" ng-required ng-pattern="/[\u4e00-\u9fa5]/"/>
                    </div>

                </div>
                <div class="row form-group">
                    <label for="userpwd"
                           class="control-label col-sm-offset-2 col-sm-2 text-left">密&nbsp;&nbsp;码:</label>

                    <div class="input-group col-sm-4">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </div>
                        <input type="password" id="userpwd" class="form-control" name="userpwd"
                               ng-model="user.userpwd" required placeholder="6-12位密码" minlength="6"
                               maxlength="12"/>
                    </div>

                </div>
            </div>

            <div class="panel-footer clearfix">
                <div class="col-sm-offset-5 col-sm-1">
                    <button type="submit" class="btn btn-primary btn-lg btn-enter" ng-click="save()">登录</button>
                </div>
            </div>
        </form>
    </div>

</div>
